.our-mission{
    background-image: url("../../../assets/Oue-Mission-BackGround/our-mission.jpg");
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden;

}
.our-mission .content{
    text-align: center;
    color: white;
    font-weight: bold;
    word-spacing: 7px;
}