
.category-card {
    position: relative;
    overflow: hidden;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.category-card img {
    transition: transform 0.5s ease;
}

.category-card:hover img {
    transform: scale(1.1);
}


.card-img-overlay {
    opacity: 0;
    transition: opacity 0.4s ease;
}

.category-card:hover .card-img-overlay {
    opacity: 1;
}
